{% load user_filters %}

{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">

      <form method="post" action="{% url 'add_comment' post.id %}">

        {% csrf_token %}

        <div class="form-group mb-2">

          {% comment %} {{ form.text }} {% endcomment %}

          {{ form.text|addclass:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>

    </div>
  </div>
{% endif %}

{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      {% comment %} <h5 class="mt-0">
        <a href="{% url 'profile' comment.author.username %}">
          {{ comment.author.get_full_name }}
        </a>
      </h5> {% endcomment %}
        <p>
         {{ comment.text }}
        </p>
        {% if comment.author == user %}
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'remove_comment' comment.id %}">Удалить комментарий</a>
        {% endif %}
      </div>
    </div>
{% endfor %}
